<%= form_for(order) do |f| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name , class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_area :address , class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email , class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :pay_type %>
    <%= f.select :pay_type, Order.pay_types.keys, prompt: 'Select a payment method',  class:"form-control" %>
  </div>

  <div class="actions">
    <%= f.submit :create, class:"w3-button w3-teal"%>
  </div>
<% end %>
