<p id="notice"><%= notice %></p>

<div class="panel panel-default">

<div class="panel-heading">line_item</div>

<div class="panel-body">


<p>
  <strong>Product:</strong>
  <%= @line_item.product %>
</p>


<p>
  <strong>Cart:</strong>
  <%= @line_item.cart %>
</p>


</div>

<div class="panel-footer">

<%= link_to 'Edit', edit_line_item_path(@line_item) ,class:"w3-button w3-teal" %> |
<%= link_to 'Back', line_items_path , class:"w3-button w3-teal" %>

</div></div>
